.tournamentBox {
    background-color: rgba(255, 255, 255, 0.479);
    width: 50%;
    text-align: center;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.116); /* Optional: Add a shadow for effect */

    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    transform-origin: center;
    will-change: transform, box-shadow, bacground-color;
}

.tournamentBox:hover {
    background: linear-gradient(#84ffda, #b6faf1);
    transform: scale(1.02);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.24); /* Optional: Add a shadow for effect */
    cursor: pointer;
}
.tournamentWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
